body {
  font-family: "Montserrat-Bold";
  text-align: center;
}

h1, h2,h3, h4, h5, h6  {
  font-family: "Montserrat-Bold";
}

p{
  color:#8f8f8f;
}


/* *********************************** container ******************************************************************** */
.container-fluid{
  padding: 7% 15%;
}
/* *********************************** container ******************************************************************** */


/* *********************************** section ******************************************************************** */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
/* *********************************** section ******************************************************************** */


/* *********************************** Heading ******************************************************************** */
.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.underline-heading{
  text-decoration: underline;
}

.section-underline-heading{
  padding-top: 3%;
  text-decoration: underline;
}


/* *********************************** Heading ******************************************************************** */


/* ***********************************  navigation bar ******************************************************************** */
.navbar{
  padding:0 0.5rem 2rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}
/* ***********************************  navigation bar ******************************************************************** */


/* ***********************************  title ******************************************************************** */
#title{
  padding: 3% 7% 15%;
  text-align: left;
}

.title-image{
  width:80%;
  margin-left: 30%;
  border-radius: 50%;
}
/* ***********************************  title ******************************************************************** */




/* *********************************** About Me ******************************************************************** */
.about-me-box-1 {
  padding: 4.5%;
}

.about-me-box-2 {
  padding: 4.5%;
  text-align: left;
  line-height: 1.5;
}
/* *********************************** About Me ******************************************************************** */

/* ***********************************  CV ******************************************************************** */
#cv{
  background-color: #ef8172;
}

#cv .container-fluid{
  padding: 10% 10%;
}

table{
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 5%;
  font-size: 1rem;
}


/* ***********************************  CV ******************************************************************** */



/* ***********************************  My Hobbies ******************************************************************** */

.hobbies-box {
  padding: 4.5%;
}

.hobbies-title{
  line-height: 1.5;
}

.icon{
  color:#ef8172;
  margin-bottom:1rem;
}

.icon:hover{
  color: #ff4c68;
}
/* ***********************************  My Hobbies ******************************************************************** */


/* *********************************** Basketball ******************************************************************** */
#basketball{
  background-color: #ef8172;
}

#basketball-carousel .container-fluid{
  padding: 0 15%;
}

.basketball-text{
  font-size: 1rem;
  color: #fff;
}

.basketball-image{
  width: 80%;
  padding-top:5%;
}
/* *********************************** Basketball ******************************************************************** */



/* *********************************** Taekwondo ******************************************************************** */

#taekwondo-carousel .container-fluid{
  padding: 0 15% 3%;
}

.taekwondo-text{
  font-size: 1rem;
}

.taekwondo-image{
  width: 60%;
  padding-top:5%;
}
/* *********************************** Taekwondo ******************************************************************** */


/* *********************************** Travel ******************************************************************** */
#travel{
  background-color: #ef8172;
}

#travel-carousel .container-fluid{
  padding: 0 15% 3%;
}

.travel-text{
  font-size: 1rem;
  color: #fff;

}

.travel-image{
  width: 40%;
  padding-top:5%;
}
/* *********************************** Travel ******************************************************************** */



/* *********************************** footer ******************************************************************** */
#footer{
  padding: 3% 5%;
}
.social-icon{
  color: #000;
  margin: 20px 10px;
}
/* *********************************** footer ******************************************************************** */


/* *********************************** media query ******************************************************************** */
@media (max-width:770px) {

.about-me-box-1 {
    padding: 20% 20%;
  }

}

@media (max-width:1000px) {
  #title {
    text-align: center;
    padding: auto 3%;
  }

  .title-image {
    margin-left: 0;
    width: 80%;
  }

.about-me-box-2 {
    text-align: center;
  }

}
/* *********************************** max-width:1000px ******************************************************************** */
